h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

h4{
  margin: 0;
}

a {
  font-size: small;
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: buttontext;
  background-color: buttonface;
  text-decoration: none;
  margin: 0  0 0 auto;
  display: block;
  width: fit-content;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-bottom: 4px solid black;
  text-align: center;
  padding-right: 10px;
}

th {
  font-size: large;
  font-weight: bold;
}

td {
  max-width: 300px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

span, p {
  margin: 0;
  font-size: small;
}

hr {
  margin: 0;
}

button {
  margin-bottom: 10px;
  margin-top: 10px;
  color: red;
}

.active-page {
  color: blue !important;
}

.product-unit{
  padding: 2px;
}

#product-paginator-container {
  display: flex;
  justify-content: center;
}

#product-paginator-container > button {
  margin-left: 4px;
  margin-right: 4px;
  color: black;
  cursor: pointer;
}

#add-product-container{
  font-size: small;
  margin-bottom: 25px;
}

#add-product-container > input{
  margin-right: 10px;
}

#add-product-btn{
  font-size: small;
  text-align: start;
  margin: auto;
}