<header>
  <script src="{{url_for('static', filename='javascript/edit.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/edit.css')}}">
</header>
<body>
  <h1>Editar Pedido <span>{{order.id}}</span></h1>
  <form action="{{url_for( 'save_order', id = order.id)}}">
    <label for="cname">Nome do cliente:</label>
    <input class="input-field" type="text" id="cname" name="cname" value="{{order.customer_name}}"><br><br>
    <label for="cphone">Whatsapp do cliente:</label>
    <input class="input-field" type="text" id="cphone" name="cphone" value="{{order.customer_phone}}"><br><br>
    <label for="caddress">Endereço do cliente:</label>
    <input class="input-field" type="text" id="caddress" name="caddress" value="{{order.customer_address}}"><br><br>
    <div id="order-product-container">
    {% for order_product in order.customer_products %}
      <div class="product-container product-container-{{ 'even' if loop.index0 % 2 else 'odd' }}">
        <label for="oproduct{{loop.index0 + 1}}">Produto {{loop.index0 + 1}}:</label>
        <select class="input-field" id="oproduct{{loop.index0 + 1}}" name="oproduct{{loop.index0 + 1}}">
          {% for product in products %}
            <option value="{{{"id": product.id, "name": product.name}}}" {{ 'selected' if order_product.id == product.id else ''  }}>{{ product.name }} (id: {{ product.id }})</option>
          {% endfor %}
        </select><br><br>
        <label for="uprice{{loop.index0 + 1}}">Preço/un do Produto {{loop.index0 + 1}}:</label>
        <select class="input-field" id="uprice{{loop.index0 + 1}}" name="uprice{{loop.index0 + 1}}"></select><br><br>
        <label for="pquantity{{loop.index0 + 1}}">Quantidade do Produto{{loop.index0 + 1}}:</label>
        <input class="input-field" type="number" id="pquantity{{loop.index0 + 1}}" name="pquantity{{loop.index0 + 1}}" value="{{order_product.quantity}}"><br><br>
      </div>
    {% endfor %}
    </div>
    <button id="add-product-btn">Adicionar Produto</button>
    <label for="tprice">Preço Total do Pedido:</label>
    <input class="input-field" type="text" id="tprice" name="tprice" value="{{order.total_price}}"><br><br>
    <input type="hidden" id="access_token" name="access_token" value="{{access_token}}">
    <input type="hidden" id="product-amount" name="product-amount" value="{{ order_products_count }}">
    <input id="submit-btn" type="submit" value="Salvar">
  </form>

  <a href="{{url_for('index')}}">Voltar sem salvar</a>
</body>
<script>
  document.querySelector('#add-product-btn').addEventListener('click', (e) => {
    e.preventDefault()
    addProduct({{ products|tojson }})
  })

  createSelectListeners({{ order.customer_products|tojson }}, {{ products|tojson }})
</script>