<header>
  <script src="{{url_for('static', filename='javascript/index.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
  <meta http-equiv="refresh" content="30" />
</header>
<body>
  <h1> Pedidos </h1>
  <table id="orders-table">
    <tr>
      <th>Número do pedido</th>
      <th>Nome do cliente</th>
      <th>Whatsapp do cliente</th>
      <th>Endereço do cliente</th>
      <th>Items do pedido do cliente</th>
      <th>Preço Total do pedido</th>
      <th>Data de criação do pedido</th>
      <th>Operação</th>
    </tr>
  </table>
</body>
