<header>
  <script src="{{url_for('static', filename='javascript/index.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
  <meta http-equiv="refresh" content="30" />
</header>
<body>
  <h1> Pedidos </h1>
  <table id="orders-table">
    <tr>
      <th>Número do pedido</th>
      <th>Nome do cliente</th>
      <th>Whatsapp do cliente</th>
      <th>Endereço do cliente</th>
      <th>Produtos do pedido</th>
      <th>Preço Total</th>
      <th>Data de criação</th>
      <th>Opções</th>
    </tr>
  </table>
  <div id="paginator-container"></div>
</body>
<script type="text/javascript">
  loadTableAndPaginator({{ orders|tojson }}, {{ per_page|tojson }}, {{ data_length|tojson }}, {{ access_token|tojson }})
</script>